<CodeSnippets>
  <CodeSnippet Format="1.0.0">
    
    <Header>
      <Title>Indent</Title>
      <Shortcut>indent</Shortcut>
    </Header>
    <Snippet>
      
      <Code Language="CSharp">
        <![CDATA[Indent++;
{
    $end$
    Indent--;
}]]>
      </Code>
      
    </Snippet>
  </CodeSnippet>
  
  
</CodeSnippets>
