<CodeSnippets>
<!--
  <CodeSnippet Format="1.0.0">    
    <Header>
      <Title>Log</Title>
      <Shortcut>log</Shortcut>
    </Header>
    <Snippet>      

      <Code Language="CSharp">
        <![CDATA[Log.Debug($$"{$end$}");]]>
      </Code>      

    </Snippet>
  </CodeSnippet>  
-->
</CodeSnippets>  